{% extends 'main/base.html' %}

{% block title %} Home Page {% endblock %}

{% load crispy_forms_tags %}

{% block content %} 
	<form method="POST" action="#">
		{% csrf_token %}
		{{form|crispy}}
		<table class="table">
			<thead class="thead-dark">
				<tr>	
					<th scope="col" width='10%'>Name</th>
					<th scope="col" width='9%'>Inject Times</th>
					<th scope="col" width='12%'>Price</th>
					<th scope="col" width='12%'>Manufacturer</th>
					<th scope="col" width='52%'>Description</th>
					<th scope="col"></th>
				</tr>
			</thead>
			</tbody>
			{% for vacxin in vacxins %}
				<div class="input-gourp mb-3">
					<div class="input-gourp-prepend">
						<div class="input-gourp-text">
							<tr>
								<td><input type="text" value="{{vacxin.name}}" class="form-control" name="name{{vacxin.id}}"></td>
								<td><input type="text" value="{{vacxin.inject_times}}" class="form-control" name="inject_times{{vacxin.id}}"></td>
								<td><input type="text" value="{{vacxin.price}}" class="form-control" name="price{{vacxin.id}}"></td>
								<td><input type="text" value="{{vacxin.manufacturer}}" class="form-control" name="manufacturer{{vacxin.id}}"></td>
								<td><input type="text" value="{{vacxin.description}}" class="form-control" name="description{{vacxin.id}}"></td>
								<td><button type="submit" value="{{vacxin.id}}" name="ill_view" class="btn btn-secondary">View</button></td>
								{% if user.is_superuser %}
									<td><button type="submit" value="{{vacxin.id}}" name="vacxin_delete" class="btn btn-danger">Delete</button></td>
								{% endif %}
							</tr>
						</div>
					</div>
				</div>
			{% endfor %}
		</table>
		{% if user.is_superuser %}
			<button type="submit" name="vacxin_save" value="save" class="btn btn-success">Save</button>
		{% endif %}
	</form>
{% endblock %}